<div class="menu-layanan-publik">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
                <a class="navbar-brand" href="#">Layanan Publik</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="#">Profil</a>
                    <a class="nav-item nav-link active" href="{% url 'layanan_publik:index' %}">Layanan</a>
                    <a class="nav-item nav-link active" href="#">Info Publik</a>
                    <a class="nav-item nav-link active" href="#">Galeri</a>
                    <a class="nav-item nav-link active" href="#">Kontak</a>
                    </div>
                </div>
        </div>
    </nav>
</div>